<html>
  <head>
    <meta name='viewport' content='width=device-width, user-scalable=no' />
    <title>Bayraktar Control</title>
    <head>
      <link rel='stylesheet' href='./style.css' />
      <script
        src='https://code.jquery.com/jquery-3.6.0.min.js'
        integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4='
        crossorigin='anonymous'
      ></script>
      <script src='./js/script.js'></script>
      <script src='./js/joy.js'></script>
      <script>
        $("#btn-form").submit(function(e) { e.preventDefault(); });
      </script>
    </head>
  </head>
  <body>
    <label class='switch'>
      <input type='checkbox' checked onclick='changeMode()' />
      <span class='slider round'></span>
    </label>

    <form id='btn-form'>
      <div class='double-forward'>
        <button
          type='submit'
          class='btn'
          id='double-forward'
          value='double-forward'
        >
        </button>
        <div class='btn-forward'>
          <button
            type='submit'
            class='btn'
            id='forward-left'
            value='forward-left'
          > </button>
          <button type='submit' class='btn' id='forward' value='forward'>
          </button>
          <button
            type='submit'
            class='btn'
            id='forward-right'
            value='forward-right'
          > </button>
        </div>
      </div>
      <div class='double-left-right'>
        <button type='submit' class='btn' id='double-left' value='double-left'>
        </button>
        <div class='btn-left-right'>
          <button type='submit' class='btn' id='left' value='left'>
          </button>
          <button type='submit' class='btn' id='fire' value='fire'>
          </button>
          <button type='submit' class='btn' id='right' value='right'>
          </button>
        </div>
        <button
          type='submit'
          class='btn'
          id='double-right'
          value='double-right'
        > </button>
      </div>
      <div class='double-back'>
        <div class='btn-back'>
          <button
            class='btn'
            id='back-left'
            onclick='sendPost("back-left")'
          ></button>
          <button class='btn' id='back' onclick='sendPost("back")'></button>
          <button
            class='btn'
            id='back-right'
            onclick='sendPost("back-right")'
          ></button>
        </div>
        <button class='btn' id='double-back' onclick="sendPost('double-back')">
        </button>
      </div>
    </form>
    <div id='myJoystick'>
      <div id='joy3Div'></div>
      <button class='btn' id='fired' onclick='sendPost("fire")'>FIRE</button>
    </div>
    <script>
      let joy3Param = { "title": "joystick3" }; let Joy3 = new
      JoyStick('joy3Div', joy3Param);
      setInterval(function(){sendPost(Joy3.GetDir())}, 300);
    </script>
  </body>
</html>