<html>
  <head>
    <meta name='viewport' content='width=device-width, user-scalable=no' />
    <title>Bayraktar Control</title>
    <head>
      <link rel='stylesheet' href='./style.css' />
      <script
        src='https://code.jquery.com/jquery-3.6.0.min.js'
        integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4='
        crossorigin='anonymous'
      ></script>
      <script src='./js/script.js'></script>
      <script src='./js/joy.js'></script>

    </head>
  </head>
  <body>
    <label class='switch'>
      <input type='checkbox' checked onclick='changeMode()' />
      <span class='slider round'></span>
    </label>

    <form id='btn-form'>
      <div class='double-forward'>
        <button
          class='btn'
          id='double-forward'
          value='double-forward'
          onclick='sendPost(value)'
        >
        </button>
        <div class='btn-forward'>
          <button
            class='btn'
            id='forward-left'
            value='forward-left'
            onclick='sendPost(value)'
          > </button>
          <button
            class='btn'
            id='forward'
            value='forward'
            onclick='sendPost(value)'
          >
          </button>
          <button
            class='btn'
            id='forward-right'
            value='forward-right'
            onclick='sendPost(value)'
          > </button>
        </div>
      </div>
      <div class='double-left-right'>
        <button
          class='btn'
          id='double-left'
          value='double-left'
          onclick='sendPost(value)'
        >
        </button>
        <div class='btn-left-right'>
          <button class='btn' id='left' value='left' onclick='sendPost(value)'>
          </button>
          <button class='btn' id='fire' value='fire' onclick='sendPost(value)'>
          </button>
          <button
            class='btn'
            id='right'
            value='right'
            onclick='sendPost(value)'
          >
          </button>
        </div>
        <button
          class='btn'
          id='double-right'
          value='double-right'
          onclick='sendPost(value)'
        > </button>
      </div>
      <div class='double-back'>
        <div class='btn-back'>
          <button
            class='btn'
            id='back-left'
            value='back-left'
            onclick='sendPost(value)'
          ></button>
          <button
            class='btn'
            id='back'
            value='back'
            onclick='sendPost(value)'
          ></button>
          <button
            class='btn'
            id='back-right'
            value='back-right'
            onclick='sendPost(value)'
          ></button>
        </div>
        <button
          class='btn'
          id='double-back'
          value='double-back'
          onclick='sendPost(value)'
        >
        </button>
      </div>
    </form>
    <div id='myJoystick'>
      <div id='joy3Div'></div>
      <button class='btn' id='fired' onclick='sendPost("fire")'>FIRE</button>
    </div>
    <script>
      let joy3Param = { "title": "joystick3" }; let Joy3 = new
      JoyStick('joy3Div', joy3Param);
      setInterval(function(){sendPost(`x:${Joy3.GetX()}|y:${Joy3.GetY()}`)}, 300);
      // setInterval(function(){sendPost(Joy3.GetDir())}, 300);
    </script>
    <script>
      $("button").click(function(e) { e.preventDefault(); });
    </script>
  </body>
</html>