<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Bayraktar Control</title>
    <head>
      <link rel='stylesheet' href='./style.css' />
      <script
        src='https://code.jquery.com/jquery-3.6.0.min.js'
        integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4='
        crossorigin='anonymous'
      ></script>
      <script src='./js/script.js'></script>
    </head>
  </head>
  <body>
    <form id='btn-form'>
        <div class='btn-forward'>
          <button type='submit' class='btn' id='forward'>
          </button>
        </div>
        <div class='btn-left-right'>
          <button type='submit' class='btn' id='left'>
          </button>
        <button type='submit' class='btn' id='fire'>
        </button>
          <button type='submit' class='btn' id='right'>
          </button>
        </div>
        <div class='btn-down'>
          <button type='submit' class='btn' id='back'>
          </button>
        </div>
      </div>
    </form>
  </body>
</html>