<html>
  <head>
    <meta name='viewport' content='width=device-width, user-scalable=no' />
    <title>Bayraktar Control</title>
    <head>
      <link rel='stylesheet' href='./style.css' />
      <script
        src='https://code.jquery.com/jquery-3.6.0.min.js'
        integrity='sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4='
        crossorigin='anonymous'
      ></script>
      <script src='./js/script.js'></script>
    </head>
  </head>
  <body>
    <form id='btn-form'>
      <div class='double-forward'>
        <button
          type='submit'
          class='btn'
          id='double-forward'
          value='double-forward'
        >
        </button>
        <div class='btn-forward'>
          <button
            type='submit'
            class='btn'
            id='forward-left'
            value='forward-left'
          > </button>
          <button type='submit' class='btn' id='forward' value='forward'>
          </button>
          <button
            type='submit'
            class='btn'
            id='forward-right'
            value='forward-right'
          > </button>
        </div>
      </div>
      <div class='double-left-right'>
        <button type='submit' class='btn' id='double-left' value='double-left'>
        </button>
        <div class='btn-left-right'>
          <button type='submit' class='btn' id='left' value='left'>
          </button>
          <button type='submit' class='btn' id='fire' value='fire'>
          </button>
          <button type='submit' class='btn' id='right' value='right'>
          </button>
        </div>
        <button
          type='submit'
          class='btn'
          id='double-right'
          value='double-right'
        > </button>
      </div>
      <div class='double-back'>
        <div class='btn-back'>
          <button
            type='submit'
            class='btn'
            id='back-left'
            value='back-left'
          ></button>
          <button type='submit' class='btn' id='back' value='back'> </button>
          <button type='submit' class='btn' id='back-right' value='back-right'>
          </button>
        </div>
        <button type='submit' class='btn' id='double-back' value='double-back'>
        </button>
      </div>
    </form>
    <script>
      $("#btn-form").submit(function(e) { e.preventDefault(); });
    </script>
  </body>
</html>